@import "../variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  > a {
    @extend .transitionMd;

    background: $accentWhite;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 8px;

    &:hover {
      transform: translateY(-7.5%);
    }
  }

  h4 {
    font-weight: 400;
  }

  @media (min-width: $mediaSm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $mediaLg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
