@import "../variables.scss";

.footer {
  padding: 3rem 0;
  background: $accentWhite;

  p {
    font-family: $mainFont;
    line-height: 28px;
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  h5 {
    font-family: $mainFont;
    font-size: 0.9rem;
  }

  @media (min-width: $mediaMd) {
    h4 {
      font-size: 1.1rem;
      padding: 0.5rem 0;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.firstRow {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $mediaSm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $mediaMd) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $mediaLg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logo {
  text-align: left;
  padding-right: 0.5rem;

  img {
    width: 100% - 80%;
    height: auto;
    object-fit: contain;
  }

  p {
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }
}

.schedule {
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.contact {
  p {
    margin-bottom: 0.5rem;
  }

  h5 {
    padding: 0.3rem 0;
  }
}

.newsletter {
  form {
    border: 1px solid black;
    border-radius: 6px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0.25rem;

    input {
      border: none;
      width: 100%;
      padding: 0.5rem;
      font-size: 0.85rem;
      font-family: $mainFont;
      font-weight: 600;
      background: transparent;

      &:focus {
        outline: none;
      }

      @media (min-width: $mediaLg) {
        font-size: 1rem;
      }
    }

    button {
      padding: 0.5rem 1.5rem;
    }
  }
}

.lastRow {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;

  div:first-child p {
    font-size: 12px;
    color: $accentColor;
    font-weight: 600;

    @media (min-width: $mediaMd) {
      font-size: 14px;
    }
  }

  div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    @media (min-width: $mediaSm) {
      gap: 2rem;
    }
  }

  @media (min-width: $mediaLg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    border-radius: 50%;
    padding: 0.33rem;
  }

  @media (min-width: $mediaSm) {
    gap: 2rem;
  }
}
